%head
 %link{rel: "stylesheet", href: "style.css"}
 %meta{charset: "utf-8"}
 %title Hinário Espírita
%body
 %h1
  %a{href: "http://hinarioespirita.com.br", title: "Início"}
   Hinário espírita

 %a{href: "https://github.com/EuAndreh/hinario-espirita"}
  %img.fork{src: "fork.png", alt: "Fork me on GitHub"}
