!!! 5
%html
  %head
    %link{ rel: "stylesheet", href: "style.css" }
    %meta{ charset: "utf-8" }
    %title Hinário Espírita
  %body
    Hinário espírita
    %a{ href: "https://github.com/EuAndreh/hinario-espirita/raw/master/Hin%C3%A1rio.pdf", title: "Hinário" }
    %a{ href: "https://github.com/EuAndreh/hinario-espirita/raw/master/Hin%C3%A1rio%20Cifrado.pdf", title: "Hinário Cifrado" }
    %a{ href: "https://github.com/EuAndreh/hinario-espirita/raw/master/Transpar%C3%AAncias.pdf", title: "Transparências" }
    %a{ href: "https://github.com/EuAndreh/hinario-espirita/raw/master/Eslaides.pdf", title: "Eslaides" }
