@import url(http://fonts.googleapis.com/css?family=Cinzel)
@import url(http://fonts.googleapis.com/css?family=Quicksand)
@import url(http://fonts.googleapis.com/css?family=Lora)

$buttonBlue: #428BCA
$lora: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif
$cinzel: 'Cinzel', Helvetica Neue, Helvetica, Arial, sans-serif
$quicksand: 'Quicksand', Helvetica Neue, Helvetica, Arial, sans-serif
$corDoCaminho: #cf4647

h2
  font-family: $lora
  font-size: 20px
  font-weight: 200
  text-align: center

h1
  font-family: $cinzel
  font-size: 72px
  font-weight: 200
  text-align: center
  a
    color: black

a
  color: $buttonBlue
  text-decoration: none

a:link
  text-decoration: none

a:hover
  color: $corDoCaminho

.nav
  list-style: none
  margin: 0
  padding: 0
  text-align: center

  li
    display: inline

  a
    font-family: $quicksand
    font-size: 18px
    font-weight: bold
    display: inline-block
    padding: 10px
    background: $buttonBlue
    color: #fff
    height: 60px
    width: 150px
    line-height: 60px
    margin: 25px 25px
    text-align: center
    border: 0
    transition: all 0.3s ease 0s

  a.partituras
    width: auto

  a:hover
    background: $corDoCaminho

p
  text-align: center
  font-family: $lora
  margin-left: auto
  margin-right: auto
  max-width: 500px

p.music-data
  text-align: left

.logo
  bottom: 0
  display: block
  margin-left: auto
  margin-right: auto
  height: auto
  width: 20%
  margin-top: 50px

.fork
  position: absolute
  top: 0
  right: 0
  border: 0

.cartaz
  width: 40%
  heigth: auto

.cartaz-frame
  margin-top: 50px
  margin-bottom: 50px
  border-width: 10px
  border-color: $buttonBlue
  border-style: solid
  background: $buttonBlue
  width: 450px
  margin-left: auto
  margin-right: auto

  border-radius: 25px
  padding: 20px

  p
    font-family: $quicksand
    color: white
    font-size: 24px
    font-weight: bold
